body {
  background-color: #FFC0CB;
}
nav {
  position: fixed;
  width: 100%;
  height: 20px;
  float: center;
}
section#left {
  width: 50%;
  float: left;
  margin: 20px;
}
section#right {
  width: 50%;
  float: right;
  margin: 20px;
}
foorter {
  background-color: black;
  width: 100%;
  height: 20px;
  position: bottom;
}
