section.high {
  background-color: red;
  color: white;
}
section.medium {
  background-color: orange;
  color: white;
}
section.low {
  background-color: gray;
}
section.done {
  background-color: black;
  color: #00FFFF;
}
#high {
  color: red;
}
#medium {
  color: orange;
}
#low {
  color: gray;
}
#done {
  color: black;
}
section {
  border: 5px solid black;
  overflow: auto;
  display: none;
}
/*
Background
high=red
medium =orange
low = gray
done=black

li
white
white
cyan
*/
